<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Jade-first
	link(rel="stylesheet" href="css/main.css")
body(ng-app="app" ng-controller="appCtrl as vm")
	



	script(src="lib/libs.js")
	script(src="js/app.js")